@model HomeModel
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (ViewBag.Message != null)
{<p>@ViewBag.Message</p>}

@if (@Model == null)
{<p>Нет модели</p>}

<h1>Помощник кладовщика 2.0</h1>
<h3>История перемещений</h3>

<p></p>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#movement_modal"> Новое перемещение </button>
<p></p>

<div class="container">
    <div class="modal fade" id="movement_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Новое перемещение</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddMovement", "Home", FormMethod.Post))
                    {
                        <p>Дата перемещения</p>
                        <input type="date" class="form-control" name="Movement.date_time">
                        <p>Откуда</p>
                        <select name="Movement.from_warehouse.id">
                            <option selected disabled> Выбирете пункт отправления </option>
                            @foreach (Warehouse wh in Model.warehouses.Values.ToList())
                            {
                                <option value="@wh.id">@wh.name</option>
                            }
                        </select>
                        <p> Куда </p>
                        <select name="Movement.to_warehouse.id">
                            <option selected disabled> Выбирете пункт назначения </option>
                            @foreach (Warehouse wh in Model.warehouses.Values.ToList())
                            {
                                <option value="@wh.id">@wh.name</option>
                            }
                        </select>

                        <div class="modal-footer">

                            <p><input type="submit" value="AddMovement"></p>
                            @*<button type="button" class="btn btn-default" data-dismiss="modal"> Добавить </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"> Отмена </button>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.movements.Count != 0)
{
   <p> Всего перемещений: @Model.movements.Count </p>
}

<table class="table">
    <thead>
        <tr>
            <th> Когда </th>
            <th> Откуда </th>
            <th> Куда </th>
            <th> Операции </th>
        </tr>
    </thead>

    @if (@Model != null)
    {
        <tbody>
            @foreach (var movement in Model.movements)
            {
            <tr>
                <td>
                    @movement.date_time
                </td>
                <td>
                    @movement.from_warehouse.name
                </td>
                <td>
                    @movement.to_warehouse.name
                </td> 
                <td>
                    @*<button id="delete_movement" value="DeleteMovement(@movement.id)"> <i class="bi bi-trash"></i> </button>*@
                    <div class="btn-group">
                        <button class="btn" id="delete_movement" onclick="@Url.Action("DeleteMovement", "Home", @movement)">
                            <i class="fa fa-trash"></i> DEL
                        </button>
                        <button class="btn" onclick="@Url.Action("EditMovement", "Home", @movement)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                            UPD
                        </button>
                    </div>
                </td>

            </tr>
            }
        </tbody>
    }
</table>




