@model HomeModel

@if (ViewBag.Message != null)
{<p>@ViewBag.Message</p>}

@if (@Model == null)
{<p>Нет модели</p>}

<h1>Помощник кладовщика 2.0</h1>
<h3>История перемещений</h3>

<p></p>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#movement_modal"> Новое перемещение </button>
<p></p>

<div class="container">
    <div class="modal fade" id="movement_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Новое перемещение</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddMovement", "Home", FormMethod.Post))
                    {
                        <p>Дата перемещения</p>
                        <input type="date" class="form-control" name="Movement.date_time">
                        <p>Откуда</p>
                        <select name="Movement.from_warehouse.id">
                            <option selected disabled> Выбирете пункт отправления </option>
                            @foreach (Warehouse wh in Model.warehouses.Values.ToList())
                            {
                                <option value="@wh.id">@wh.name</option>
                            }
                        </select>
                        <p> Куда </p>
                        <select name="Movement.to_warehouse.id">
                            <option selected disabled> Выбирете пункт назначения </option>
                            @foreach (Warehouse wh in Model.warehouses.Values.ToList())
                            {
                                <option value="@wh.id">@wh.name</option>
                            }
                        </select>

                        <div class="modal-footer">

                            <p><input type="submit" /></p>
                            @*<button type="button" class="btn btn-default" data-dismiss="modal"> Добавить </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"> Отмена </button>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.movements.Count != 0)
{
   <p> Всего перемещений: @Model.movements.Count </p>
}

<table class="table">
    <thead>
        <tr>
            <th> Когда </th>
            <th> Откуда </th>
            <th> Куда </th>
            <th> Операции </th>
        </tr>
    </thead>

    @if (@Model != null)
    {
        <tbody>
            @foreach (var movement in Model.movements)
            {
            <tr>
                <td>
                    @movement.date_time
                </td>
                <td>
                    @movement.from_warehouse.name
                </td>
                <td>
                    @movement.to_warehouse.name
                </td>
                <td>
                    @Html.ActionLink("Del", "DeleteMovement", @movement.id) 
                    
                    
                    @*<button id="delete_movement" onclick="DeleteMovement(@movement.id)"> <i class="bi bi-trash"></i> </button>*@
                </td>

            </tr>
            }
        </tbody>
    }
</table>




